<form class="nice">
  <input placeholder="Search…" type="text" data-bind="value: query, valueUpdate: 'keyup'" autocomplete="off" class="input-text">
  <p><span data-bind="text: resultLength"></span> of <span data-bind="text: total"></span>
</form>

<ul data-bind="template: {name:'tip', foreach:tips}" id="tips"></ul>

<script id="tip" type="text/html">
  <li>
    <p data-bind="html: body"> - </p>
  </li>
</script>
