<form class="nice">
  <input placeholder="Search…" type="text" data-bind="value: query, valueUpdate: 'keyup'" autocomplete="off" class="input-text">
</form>

<ul data-bind="template: {name:'tip', foreach:tips}" id="tips"></ul>

<script id="tip" type="text/html">
  <li>
    <p data-bind="html: body"> - </p>
  </li>
</script>

<script>
  var tips = <%= Tip.all.to_json.html_safe %>;
  for (var i = 0; i < tips.length - 1; i++) {
    tips[i]['body'] = tips[i]['body'].linkify();
  }

  var viewModel = {
    tips: ko.observableArray(JSON.parse(JSON.stringify(tips))),
    query: ko.observable(''),
    search: function(value) {
      // remove all the current tips, which removes them from the view
      viewModel.tips.removeAll();

      for (var x in tips) {
        if (tips[x].body.toLowerCase().indexOf(value.toLowerCase()) >= 0) {
          viewModel.tips.push(tips[x]);
        }
      }
    }
  };

  viewModel.query.subscribe(viewModel.search);
  ko.applyBindings(viewModel);
</script>
